*.log
*.zip
.DS_Store
.env
.env.backup
.env.infinity
.env.production
DEPLOY_VPS.md
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bap
/node_modules
/public/build
/public/C:
/public/hot
/public/storage
/storage/app/private/*
!/storage/app/private/.gitignore
/storage/app/compiled-views/*
!/storage/app/compiled-views/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
